<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/css/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
    <title>Edinpin</title>
 

    <!-- Latest compiled and minified CSS -->
<link href="../../assets/css/custom/bootstrap.min.css" rel="stylesheet">

<!-- Optional theme -->
<link href="../../assets/css/custom/bootstrap-theme.min.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="../../assets/css/js/bootstrap.min.js"></script>

    
 <link rel="stylesheet" href="../../assets/css/custom/style.css">
</head>

<body>
    
    
    <div class="container">

<div class="row text-center">
        <div class="page-header">


        <h1>WELCOME</h1>
        <p class="lead">To start, please select your language first</p></div>
        </div>
        
<div class="row text-center">
           <div class="col-xs-4 col-sm-3 col-md-3">
          
                      <a href="search.html"><img src="../../assets/css/img/united-kingdom.svg" width="120" height="120" class="languages">
                    <h4>English</h4></a>
                  <br/>
                
            </div>
           
            <div class="col-xs-4 col-sm-3 col-md-3">
          
                      <a href="#"><img src="../../assets/css/img/italy.svg"  width="120" height="120" class="languages">
                    <h4>Italian</h4></a>
                  <br/>
                
            </div>
           
            <div class="col-xs-4 col-sm-3 col-md-3">
            
                      <a href="#"><img src="../../assets/css/img/germany.svg"  width="120" height="120" class="languages">
                    <h4>German</h4></a>
                
                   <br/>
             
           </div>
           
        
           
           
            <div class="col-xs-4 col-sm-3 col-md-3">
            
                      <a href="#"><img src="../../assets/css/img/poland.svg"  width="120" height="120" class="languages">
                    <h4>Polish</h4></a>
                
                   <br/>
             
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3">
               
                       <a href="#"><img src="../../assets/css/img/ireland.svg"  width="120" height="120" class="languages">
                    <h4>Irish</h4></a>
                   
                  <br/>
              
            </div>
           
               <div class="col-xs-4 col-sm-3 col-md-3">
               
                      <a href="#"><img src="../../assets/css/img/france.svg"  width="120" height="120" class="languages">
                    <h4>French</h4></a>
                   
                  <br/>
              
            </div>
           <div class="col-xs-4 col-sm-3 col-md-3">
          
                      <a href="#"><img src="../../assets/css/img/spain.svg" width="120" height="120" class="languages">
                    <h4>Spanish</h4></a>
                  <br/>
                
            </div>
           
           <div class="col-xs-4 col-sm-3 col-md-3">
          
                      <a href="#"><img src="../../assets/css/img/china.svg" width="120" height="120" class="languages">
                    <h4>Chinese</h4></a>
                  <br/>
                
            </div>
           
           
        </div>

<footer class="footer navbar-fixed-bottom">
  <div class="container-fluid">
   <a href="index.html"><img src="../../assets/css/img/logowhite.svg" height="20px"></a><a href="adminlogin.html" class="pull-right">Log In</a>

  </div>
</footer>



    </div>


</body>
</html>