<!DOCTYPE html>
<html lang="en">

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
    <meta name="author" content="">
 

    <title>Edinpin</title>
 
   <link rel="icon" href="../../assets/css/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway"/>

    <title>Edinpin</title>
  <!-- Latest compiled and minified CSS -->
<link href="../../assets/css/custom/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/custom/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="../../assets/css/custom/font-awesome.css" rel="stylesheet">
<link href="../../assets/css/custom/build.css" rel="stylesheet">

<!-- Optional theme -->
<link href="../../assets/css/custom/bootstrap-theme.min.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="../../assets/css/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>     
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    
 <link rel="stylesheet" href="../../assets/css/custom/style.css">
    
    

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="center-logo pull-left">
                    <a href="index.html"><img src="../../assets/css/img/logo.svg" height="30px"></a>
                </li><br/><br/><br/>
                <div class="searchMap">
                <h3>You've searched for:</h3> <br/>
     <form id="mapForm" class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="from" placeholder="Where are you?">
    </div>
  <button id="findPosition" class="btn btn-info btn-search-map hidden" title="Find my location">
        <span class="glyphicon glyphicon-screenshot"></span>
    </button><br/><br/>
    <button type="submit" class="btn btn-primary">Show Directions</button>

  
</form>

     <br/>
<hr>


<h3>Here are your search results:</h3> <br/>
<dl class="text-justify results">
 <a href="#"><dt><span class="glyphicon glyphicon-ok"></span> Results 1</dt> <dd> Edinburgh Centre <span class="glyphicon glyphicon-arrow-right info"></span></a></dd></dl> <hr class="style3">
 <dl class="text-justify results">
 <a href="#"><dt><span class="glyphicon glyphicon-ok"></span> Results 2</dt>
<dd> Edinburgh Centre <span class="glyphicon glyphicon-arrow-right info"></span></a></dd></dl>
<hr class="style3">
 <dl class="text-justify results">
 <a href="#"><dt><span class="glyphicon glyphicon-ok"></span> Results 3</dt>
<dd> Edinburgh Centre <span class="glyphicon glyphicon-arrow-right info"></span></a></dd></dl>
<hr>



<h3>Please display also: </h3>
<form role="form-horizontal">
 
  <div class="checkbox checkbox-info">
                        <input id="checkbox1" class="styled" type="checkbox" checked>
                        <label for="checkbox1">
                            Hotels
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox2" class="styled" type="checkbox">
                        <label for="checkbox2">
                            Hotels
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox3" class="styled" type="checkbox">
                        <label for="checkbox3">
                           Hotels
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" class="styled" type="checkbox">
                        <label for="checkbox4">
                           Hotels
                        </label>
                    </div>


</form>


     
            </ul>
        </div>
       
      
<div id="map"></div>


<a href="#menu-toggle" class="btn" id="menu-toggle"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    

    <!-- jQuery -->
    <script src="../../assets/css/js/jquery.js"></script>
  <script src="../../assets/css/js/geo-google-map.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/css/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
</script>
</body>

</html>
