<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Top People</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Cause</th>
                        <th>Description</th>
                        <th>Signatories - yay</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>

                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>


                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h1>New Causes</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Cause</th>
                        <th>Description</th>
                        <th>Signatories</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>

                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>


                    <tr>
                        <td><img class="img img-responsive img-circle" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=100×100&w=100&h=100"/></td>
                        <td>Stop The Bankers</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus nibh sed mattis pulvinar. </td>
                        <td>1,569</td>
                        <td>
                            <a href="/causes/view-cause.php" class="btn btn-success">View</a>
                        </td>
                    <tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>



</@layout.myLayout>