<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <div class="row text-center">
        <div class="page-header">
            <h1>WELCOME</h1>

            <p class="lead">To start, please select your language first</p></div>
    </div>

    <div class="row text-center">
        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="search.html"><img src="/assets/img/united-kingdom.svg" width="120" height="120" class="languages">
                <h4>English</h4></a>
            <br/>

        </div>

        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/italy.svg" width="120" height="120" class="languages">
                <h4>Italian</h4></a>
            <br/>

        </div>

        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/germany.svg" width="120" height="120" class="languages">
                <h4>German</h4></a>

            <br/>

        </div>


        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/poland.svg" width="120" height="120" class="languages">
                <h4>Polish</h4></a>

            <br/>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/ireland.svg" width="120" height="120" class="languages">
                <h4>Irish</h4></a>

            <br/>

        </div>

        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/france.svg" width="120" height="120" class="languages">
                <h4>French</h4></a>

            <br/>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/spain.svg" width="120" height="120" class="languages">
                <h4>Spanish</h4></a>
            <br/>

        </div>

        <div class="col-xs-4 col-sm-3 col-md-3">

            <a href="#"><img src="/assets/img/china.svg" width="120" height="120" class="languages">
                <h4>Chinese</h4></a>
            <br/>

        </div>


    </div>


</@layout.myLayout>