<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Search Page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">

                    <div class="page-header-search">
                        <h1>SEARCH</h1>
                        <p class="lead">Please select or type in what you are looking for</p></div>
                    <div class="col-md-12">
                        <div id="custom-search-input">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputAmount"
                                               placeholder="Amount">

                                        <div class="input-group-addon"><span><i
                                                class="glyphicon glyphicon-search"></i> </span></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Transfer cash</button>
                            </form>

                        </div>
                    </div>

                </div>



                <div class="text-center">
                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/1.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Shelter</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/2.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Hospital</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/3.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Food and drink</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/4.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Job centre</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/5.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Entertainment</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/6.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Shopping</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/7.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>Social services</h4></a></span>
                        <br/>

                    </div>


                    <div class="col-xs-4 col-sm-3 col-md-3">

                     <span> <a href="map.html"><img src="/assets/img/8.png" width="120" height="120"
                                                    class="languages"><br/>
                         <h4>View Map</h4></a></span>
                        <br/>

                    </div>

                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>