<#import "../layout/adminLayout.ftl.html" as layout>
    <@layout.myLayout "Admin login">

<div class="row text-center">
    <div class="page-header-search"><a href="index.html"><img src="../../assets/css/img/logo.svg" height="50px"></a>
    </div>


    <div class="row">
        <div class="col-md-12">


            <form class="form-signin">
                <h2 class="form-signin-heading">Please log in here</h2> <hr>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> <a href="#" class="pull-left">Forgot your password?</a>
                <br/>  <br/>

                <a class="btn btn-lg btn-success btn-block" href="adminhome.html" type="submit" role="button">Log in</a>

                <hr><button class="btn btn-lg btn-primary btn-block" type="submit"><img src="../../assets/css/img/facebook-16.png"></a> Log in with Facebook</button>
                <br/> <p>We'll never post anything on Facebook
                without your permission.</p>
                <br/>
                <div class="border-top">  </div><br/><br/>
                <a href="#"> Dont have an account? <strong>Please contact an administrator</strong> </a>
            </form>




        </div></div>

</div>
</@layout.myLayout>