<#import "../layout/adminLayout.ftl.html" as layout>
    <@layout.myLayout "Edit Resource">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Edit Resource</h1>

                <form action="${reverseRoute('controllers.AdminController', 'editResourceForm', 'resourceId', resource.resourceId)}"
                      method="POST">
                    <div class="form-group">
                        <label for="resourceType">Category:</label>
                        <select class="form-control" id="resourceType" name="resourceType"
                                value="${resource.resourceType}">
                            <option value="Restaurant">Restaurant&nbsp;&nbsp;<i class="fa fa-cutlery"
                                                                                aria-hidden="true"></i></option>
                            <option value="Shelter">Shelter / Accommodation&nbsp;&nbsp;<i class="fa fa-bed"
                                                                                          aria-hidden="true"></i>
                            </option>
                            <option value="Employment_Support">Employment Support&nbsp;&nbsp;<i class="fa fa-suitcase"
                                                                                                aria-hidden="true"></i>
                            </option>
                            <option value="Facilities">Facilities / Amenities&nbsp;&nbsp;<i class="fa fa-info"
                                                                                            aria-hidden="true"></i>
                            </option>
                            <option value="Council_Services">Public / Council Services&nbsp;&nbsp;<i
                                    class="fa fa-university" aria-hidden="true"></i></option>
                            <option value="Health">Care / Health Services&nbsp;&nbsp;<i class="fa fa-heart"
                                                                                        aria-hidden="true"></i></option>
                            <option value="Car_Share">Car sharing&nbsp;&nbsp;<i class="fa fa-car"
                                                                                aria-hidden="true"></i></option>
                            <option value="Bicycle">Bicycle sharing&nbsp;&nbsp;<i class="fa fa-bicycle"
                                                                                  aria-hidden="true"></i></option>
                            <option value="247_Shop">24/7 Shop&nbsp;&nbsp;<i class="fa fa-shopping-cart"
                                                                             aria-hidden="true"></i></option>
                            <option value="Spiritual">Spiritual / Psychological Support&nbsp;&nbsp;<i
                                    class="fa fa-user-plus" aria-hidden="true"></i></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="resourceTitle">Resource Title:</label>
                        <input type="text" class="form-control" id="resourceTitle" name="resourceTitle"
                               value="${resource.resourceTitle}">
                    </div>
                    <div class="form-group">
                        <label for="companyName">Company Name:</label>
                        <input type="text" class="form-control" id="companyName" name="companyName"
                               value="${resource.companyName}">
                    </div>

                    <div class="form-group">
                        <label for="managerName">Manager Name:</label>
                        <input type="text" class="form-control" id="managerName" name="managerName"
                               value="${resource.managerName}">
                    </div>

                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" value="${resource.address}">
                    </div>

                    <div class="form-group">
                        <label for="postCode">Postcode:</label>
                        <input type="text"
                               pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"
                               class="form-control" id="postCode" name="postCode" value="${resource.postCode}">
                    </div>

                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input class="form-control" id="date" name="date" value="${resource.date}">
                    </div>


                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="8" id="description" name="description">${resource.description}</textarea>
                    </div>

                    <input class="hidden" id="id" name="id" value="${resource.resourceId}">


                    <div class="center-block">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Edit Resource</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</@layout.myLayout>