<#import "../layout/adminLayout.ftl.html" as layout>
    <@layout.myLayout "View Resources">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>View Resources</h1>
                <#list resources as item>
                    <div class="row" id="accordion">
                        <div class="col-md-8">
                            <div class="panel-group" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default">
                                    <h4>
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#${item.resourceId}" aria-expanded="true"
                                           aria-controls="collapseOne">
                                            ${item.resourceTitle}
                                        </a>
                                    </h4>

                                    <div id="${item.resourceId}" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-padding">
                                            ${item.description}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-3">
                            <a href="${reverseRoute('controllers.AdminController', 'deleteIndividualResource', 'resourceId', item.resourceId)}"
                               id="btn-delete"><button class="btn btn-danger btn-lg">Delete</button></a>
                            <a href="${reverseRoute('controllers.AdminController', 'editResource', 'resourceId', item.resourceId)}"
                               id="btn-edit"><button class="btn btn-success btn-lg">Edit</button></a>
                        </div>
                    </div>
                </#list>
            </div>
        </div>
    </div>

</@layout.myLayout>