<#import "../layout/adminLayout.ftl.html" as layout>
    <@layout.myLayout "Add Resource">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Add Resource</h1>

                <form action="${reverseRoute('controllers.ResourceController', 'addResourceForm')}" method="POST">
                    <div class="form-group">
                        <label for="resourceType">Category:</label>
                        <select class="form-control" id="resourceType" name="resourceType">
                            <#list resourceTypes as resourceType>
                                <option value="${resourceType.name}">${resourceType.name}</option>
                            </#list>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="resourceTitle">Resource Title:</label>
                        <input type="text" class="form-control" id="resourceTitle" name="resourceTitle">
                    </div>
                    <div class="form-group">
                        <label for="companyName">Company Name:</label>
                        <input type="text" class="form-control" id="companyName" name="companyName">
                    </div>

                    <div class="form-group">
                        <label for="managerName">Manager Name:</label>
                        <input type="text" class="form-control" id="managerName" name="managerName">
                    </div>

                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>

                    <div class="form-group">
                        <label for="postCode">Postcode:</label>
                        <input type="text"
                               pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"
                               class="form-control" id="postCode" name="postCode">
                    </div>

                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input class="form-control" id="date" name="date">
                    </div>


                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="8" id="description" name="description"></textarea>
                    </div>

                    <div class="center-block">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create resource</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</@layout.myLayout>